{% extends "base.html" %}

{% block content %}
    <div class="row">
    <div class="col-md-8">
        <h1>Events</h1>
    </div>
    <div class="container">
        {% for event in event_list %}
{#            {% if event == "open" %}#}
            <div class="event-item">
                <h3>{{ event.title|upper }}</h3>
                <p>{{ event.description }}</p>
                <a href="{% url 'votingmachine:event_detail' event.id %}" class="btn btn-info" role="button">Details</a>
            {% if event.status == 'open' %}
                <a href="{% url 'votingmachine:vote_detail' event.id %}" class="btn btn-info" role="button">Vote</a>
            {% endif %}
                <a href="{% url 'votingmachine:result' event.id %}" class="btn btn-info" role="button">Result of the Vote</a>
            </h3></li>
        {% endfor %}
    </div>
    </div>
{% endblock %}
