{% extends "base.html" %}

{% block content %}
    <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
            <h2>Events</h2>
        </div>
      </div>
    </div>
    <div class="container">
    <ul>
        {% for event in event_list %}
            <li class="nav-item"><h3>{{ event.title }}
                <a href="{% url "votingmachine:event_detail" event.id %}" class="btn btn-info" role="button">Go</a>
                <a href="{% url 'votingmachine:vote_detail' event.id %}" class="btn btn-info" role="button">Vote</a>
            </h3></li>
            <h4>{{ event.description }}</h4>
        {% endfor %}
    </ul>
    </div>
{% endblock %}



{## object_list#}
{##eventli#}
{#{% for team in event.team_set.all %}#}
{#<li>{{ team }}  {% if request.user in team.members.all %}<button class="btn btn-primary" type="submit">LEAVE</button>{% else %}<button class="btn btn-success" type="submit">JOIN</button>{% endif %}</li>#}
{#{%  endfor %}#}


{#  {% if 'Active' in event.state%}#}
{# {% endif %}#}

{#<li>{{ event}} {% if request.user in team.members.all %}<button type="button" class="btn btn-link">Go</button>{% else %}<button class="btn btn-success" type="submit">JOIN</button>{% endif %}</li> <h3>{{ event.description }}</h3>#}
{#<li><h3>{{ event.title }}{% url 'votingmachine:event_detail' event.id %}</h3></li>#}
{# <a {% url'votingmachine:event_detail' event.id %} class="btn btn-info" role="button"#}
{#{% url 'votingmachine:event_detail' event.id %}#}
{#          {% if user and not user.is_anonymous %}#}
{#              <a href="/votingmachine/event/team/" class="btn btn-success btn-block">Vote Now</a>#}

{#          {% else %}#}
{#            You need to login to see Event information!#}
{#          {% endif %}#}
