{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ event.title }}</h3>
            {% if event.status == 'open' %}
                {% if user and not user.is_anonymous %}
                    <a href="{% url 'users:create_team'%}" class="btn btn-success pull-right">Create Team</a>
                {% else %}
                    You need to login to see Event information!
                {% endif %}
            {% endif %}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Event Description </h3>
        </div>
        <div class="panel-body">
          <p>{{ event.description }}</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Event Teams </h3>
        </div>
            {% for team in event.team_set.all %}
                <h4>{{ team.title }}</h4>
                <h5>{{team.description}}</h5>
                {% for member in team.all_members %}
                    <ol style="list-style: decimal inside;">
                        {% if member == team.leader %}
                            Leader: {{member}}
                        {% else %}
                            {{member}}
                        {% endif %}
                    </ol>
                {% endfor %}
                    <hr>
            {% empty %}
                No Teams yet.
            {% endfor %}

        {% if show_post_event %}
          <div class="panel-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <textarea name="content" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Post</button>
              </div>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          {% if user and not user.is_anonymous %}
              {% if event.status == 'open' %}
                <a href="{% url 'votingmachine:vote_detail' event.id %}" class="btn btn-success btn-block">Vote Now</a>
              {% else %}
                  This Event is closed.
              {% endif %}
{#            <form method="POST" action="/votingmachine/event/team/">#}
{#              {% csrf_token %}#}
{#              <!-- form -->  {{  form.as_ul }} <!-- end form -->#}
{#              <div id="payment-form"></div>#}
{#              <input name="team_id" value="{{team.id }}" hidden>#}
{#              <button type="submit" class="btn btn-success btn-block">Vote Now </button>#}
{#            </form>#}
          {% else %}
            You need to login to see Event information!
          {% endif %}
        </div>
      </div>
    </div>


    </div>

{% endblock %}


{#            <h3>Status#}
{#            {% for es in event.state %}#}
{#                {% if event.state == "S" %}#}
{#                    setup.#}
{#                {% elif event.state == "A" %}#}
{#                    active.#}
{#                {% elif event.state == "P" %}#}
{#                    paused.#}
{#                {% else %}#}
{#                    finished.#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            </h3>#}
