{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
    <div class="col-md-12">
            <h2>Teams</h2>
            {% if user and not user.is_anonymous %}
              <a href="{% url 'users:create_team'%}" class="btn btn-success pull-right">Create Team</a>
          {% else %}
            You need to login to see Event information!
          {% endif %}
    </div>
    </div>
        {% for team in object_list %}
            <h3>{{ team.title }}</h3>
            <p>{{team.description}}</p>
            <ol>
                {% for member in team.members.all %}
                    <li>{{member}}</li>
                {% endfor %}
            </ol>
            <hr>
        {% empty %}
            <p>No Teams yet.</p>
        {% endfor %}

{#    {% if show_post_event %}#}
{#          <div class="panel-body">#}
{#            <form method="POST">#}
{#              {% csrf_token %}#}
{#              <div class="form-group">#}
{#                <textarea name="content" class="form-control"></textarea>#}
{#              </div>#}
{#              <div class="form-group">#}
{#                <button type="submit" class="btn btn-success">Post</button>#}
{#              </div>#}
{#            </form>#}
{#          </div>#}
{#    {% endif %}#}

{% endblock %}


