{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
            <h2>Teams</h2>
            {% if user and not user.is_anonymous %}
              <a href="{% url 'users:create_team'%}" class="btn btn-success btn-block">Create Team</a>
          {% else %}
            You need to login to see Event information!
          {% endif %}
        </div>
      </div>
    </div>
    </div>
    <ul>
        {% for team in object_list %}
            <li><h3>{{ team.title }}</h3></li><h4>{{team.description}}</h4>
            <ol><h4>Team Members</h4></ol>
            <ol>
                {% for member in team.members.all %}
                    <ol><h5>{{member}}</h5></ol>
                {% endfor %}
            </ol>
        {% empty %}
            <li>No Teams yet.</li>
        {% endfor %}
    </ul>

    {% if show_post_event %}
          <div class="panel-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <textarea name="content" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Post</button>
              </div>
            </form>
          </div>
    {% endif %}

{% endblock %}


