{% extends 'base.html' %}
{% load staticfiles voting_tags %}
{% block content %}
<head>
    <meta charset="utf-8">
    <title>{{option_a}} vs {{option_b}}!</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

    <div class="row">
        <div class="col-md-8">
            <h2>Place Your Votes!</h2>
            <p>Rank each team by category.<br>
               1 star is the lowest rank, 3 stars is highest</p>
        </div>
        <div class="col-md-4">
            {# <img src="{{ team.user }}" class="img-circle center-block" height="100" width="100"> #}
            <a href="{% url "users:detail" request.user.username %}"><h4 class="text-center">{{ request.user.username }}</h4></a>
          </div>
    </div>
<hr>
  <div class="container">
    {% if event %}
        {% if event.state == 'A'%}
            <h2>{{ event.title|upper }}</h2>
            {% for team in event.team_set.all %}
                <div class="team-voting">
                    <h2>{{ team.title }}</h2>
                    <p>{{ team.description }}</p>
                    {% for cat in cats %}
                        <form class="form-inline">
                            <label>{{ cat.1 }}</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn {% check_selected request.user.pk event.pk cat.0 team.pk 1 %}"
                                        name="{{ cat.1 }}-vote"
                                        data-value="1" data-team="{{ team.id }}" data-cat="{{cat.0}}">
                                       <i class="fa fa-star"></i>
                                </button>
                                <button type="button" class="btn {% check_selected request.user.pk event.pk cat.0 team.pk 2 %}"
                                        name="{{ cat.1 }}-vote"
                                        data-value="2" data-team="{{ team.id }}" data-cat="{{cat.0}}">
                                       <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </button>
                                <button type="button" class="btn {% check_selected request.user.pk event.pk cat.0 team.pk 3 %}"
                                        name="{{ cat.1 }}-vote"
                                        data-value="3" data-team="{{ team.id }}" data-cat="{{cat.0}}">
                                       <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </button>
                            </div>
                         </form>
                    {% endfor %}
                </div>
           {% empty %}
               <div>No Teams yet.</div>
            {% endfor %}
        {% endif %}
    {% endif %}

{#   <div id="content-container">#}
{#      <div id="content-container-center">#}
{#        <h3>{{option_a}} vs {{option_b}} vs {{option_c}}!</h3>#}
{#        <form id="choice" name='form' method="POST" action="/">#}
{#          <button id=+1 type="submit" name="vote" class="1" value=+1>{{option_a}}</button>#}
{#          <button id=+2 type="submit" name="vote" class="2" value=+2>{{option_b}}</button>#}
{#          <button id=+3 type="submit" name="vote" class="3" value=+3>{{option_c}}</button>#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  </div>
    <script>


    (function($) { $(function() {
        $('button').click(function(){
            $(this).parents(".btn-group").find(".btn").removeClass("btn-primary").addClass("btn-secondary");
            $(this).removeClass("btn-secondary").addClass("btn-primary");
            var vdata = {
                team_id: $(this).attr("data-team"),
                category: $(this).attr("data-cat"),
                value: $(this).attr("data-value"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
             $.post('{{ request.path }}collect/?', vdata)
         })
    }); })(jQuery);
    </script>

{% endblock %}
