{% extends "base.html" %}

{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.first_name|upper}} {{object.last_name|upper }}</h2>
        <p>First Name: {{ object.first_name }}</p>
        <p>Last Name: {{ object.last_name }}</p>
        <p>Username: {{ object.username }}</p>

    </div>
  </div>

    {% if object == request.user %}
    <!-- Action buttons -->
        <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit Account</a>
{#            <a class="btn btn-primary" href="{% url 'users:update_email' %}" role="button">Edit E-Mail</a>#}
            <a class="btn btn-primary" href="{% url 'users:update_password' %}" role="button">Change Password</a>
            <a class="btn btn-primary" href="{% url 'users:logout' %}" role="button">Log out</a>

    <!-- Your Stuff: Custom user template urls -->
            {% if user and not user.is_anonymous %}
              <a href="{% url 'users:create_team'%}" class="btn btn-success pull-right">Create Team</a>
              <a href="{% url 'users:update_team'%}" class="nav-link dropdown-item" >Update Team</a>
            {% else %}
                You need to login to see Event information!
            {% endif %}
            {% if object %}
                {{ object }}
                {{ all_event.all }}
                {% if event in event.object.all %}
                    {{ event}}
{#                    <li><a class="nav-link dropdown-item" href="{% url 'users:teamupdate%}">My Team</a></li>#}
                {% endif %}
            {% endif %}
        </div>
        </div>
    <!-- End Action buttons -->
    {% endif %}
</div>


{% endblock content %}


{#        {% if object == request.user %}#}
{#            {%  for event in views.events_all.all %}#}
{#                <h3>{{ event }}</h3>#}
{#                <ol>#}
{#                {% for team in event.team_set.all %}#}
{#                <li>{{ team }}</li>#}
{#            {%  endfor %}#}
{#            </ol>#}
{#            <hr>#}
{#            {%  endfor %}#}
{#        {% endif %}#}




{##}
{#{% block content %}#}
{#<div class="container">#}
{##}
{##}
{#  <div class="row">#}
{#    <div class="col-sm-12">#}
{##}
{#      <h2>{{ object.username }}</h2>#}
{#    </div>#}
{#  </div>#}
{##}
{#{% if object == request.user %}#}
{#   {%  for event in view.all_events.all %}#}
{#      <h3>{{ event }}</h3>#}
{#            <ol>#}
{#            {% for team in event.team_set.all %}#}
{#                <li>{{ team }}#}
{#                </li>#}
{#            {%  endfor %}#}
{#            </ol>#}
{#      <hr>#}
{#   {%  endfor %}#}
{#{% endif %}#}
{##}
{##}
{##}
{#</div>#}
{#{% endblock content %}#}

