{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">


  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
   {%  for event in view.all_events.all %}
      <h3>{{ event }}</h3>
            <ol>
            {% for team in event.team_set.all %}
                <li>{{ team }}
                </li>
            {%  endfor %}
            </ol>
      <hr>
   {%  endfor %}
{% endif %}



</div>
{% endblock content %}

