@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}
html,body{
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
  height: 100vh;
  font-family: 'Open Sans';
  font-size: 16px;
}
body > .container {
    background-color: #ffffff;
}
nav.navbar {
    clear: both;
}
footer {
    padding-bottom: 100px;
}

button i{
  float: right;
  padding-right: 30px;
  margin-top: 3px;
}

button.a{
  background-color: #1aaaf8;
}

button.b{
  background-color: #00cbca;
}

button.c{
  background-color: #0000dd;
}

.err-msg {
    padding-left: 10px;
    color: #ff0000;
}

#tip{
  text-align: left;
  color: #c0c9ce;
  font-size: 14px;
}

#hostname{
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  color: #8f9ea8;
  font-size: 24px;
}

#content-container{
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: table;
  padding: 10px;
  max-width: 940px;
  height: 100%;
}
#content-container-center{
  display: table-cell;
  text-align: center;
}

#content-container-center h3{
  color: #254356;
}

.team-voting {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.team-voting form {
    margin-bottom: 10px;
}
.team-voting label {
    display: inline-block;
    min-width: 200px;
    text-align: right;
    padding-right: 15px;
}
.team-voting .fa {
    font-size: 22px;
    padding: 0;
}
.team-voting .btn-primary {
    padding: 6px 35px;
}
.team-voting .btn-secondary {
    border-color: #ccc;
    text-align: center;
    padding: 6px 35px;
}
.team-voting .btn-secondary:hover {
    border-color: #adadad;
}

#choice{
  transition: all 300ms linear;
  line-height: 1.3em;
  display: inline;
  vertical-align: middle;
  font-size: 3em;
}
#choice a{
  text-decoration:none;
}
#choice a:hover, #choice a:focus{
  outline:0;
  text-decoration:underline;
}

#choice button{
  display: block;
  height: 80px;
  width: 330px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size:18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 50px;
}

#choice button.a:hover{
  background-color: #1488c6;
}

#choice button.b:hover{
  background-color: #00a2a1;
}

#choice button.c:hover{
  background-color: #00cbca;
}

#choice button.a:focus{
  background-color: #1488c6;
}

#choice button.b:focus{
  background-color: #00a2a1;
}

#choice button.c:focus{
  background-color: #00cbca;
}

#background-stats{
  z-index:1;
  height:100%;
  width:100%;
  position:absolute;
}
#background-stats div{
  transition: width 400ms ease-in-out;
  display:inline-block;
  margin-bottom:-4px;
  width:50%;
  height:100%;
}

.row.results {
    margin-left: 0;
}
.result-row-ontop {
    position:relative;
    height: 50px;
    z-index: 10;
    border: 1px solid #4E7333;
    border-bottom-width: 0;
}
.result-row-ontop.last {
    border-bottom-width: 1px;
}
.result-row {
    position:relative;
    background-color: #8ccc5b;
    height: 50px;
    margin-top: -50px;
}
.result-content {
    font-size: 20px;
    line-height: 50px;
    color: #4E7333;
}
.result-footer {
    margin-top: 1em;
}